h2{
    color:chartreuse;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-color: firebrick;
}

button{
padding-top :20px;
padding-bottom:20px;
padding-left:20px;
padding-right:20px;
margin: 300px;

}


p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
}